<!DOCTYPE html>
<html>
<head>
    <title>Tidal-Wave Testing For Text Input</title>
    <style>
        <style>
       .test_button_class {
  background-color: #fc912d;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-family:arial, verdana, helvetica;
  border-radius:8px;
  display: inline-block;
  font-size: 16px;
}




    </style>
</head>
<body>

<h2>Tidal-Wave Test Disappearing and Appearing Elements</h2>

<div>
    <p style="color:red">This text input will disappear in six seconds and retry will be stopped</p>
</div>

<div id="disappearingElm" style="display:block">
    Name: <input id="textInput" type="text" placeholder="This will disappear"/><br>
</div>

<div>
    <p style="color:red">An element will appear in six seconds</p>
    Name: <input id="textInput2" type="text" value="QA"/><br>
    <div id="appearingElm">
        <input class="test_button_class" id="buttonId" style="display:none" type="button" value="Invisible Button"/><br>
    </div>
</div>


<div id="removingElm">
    <input class="test_button_class" id="buttonId2" type="button" value="Removing Button"/><br>
</div>

<script type="text/javascript">
        function closeDiv() {
            document.getElementById("disappearingElm").style.display="none";
        }
        window.setTimeout(closeDiv, 6000);

        function removeDiv(){
            document.getElementById("removingElm").remove();
        }

        window.setTimeout(removeDiv, 8000);

        function appearDiv(){
            document.getElementById("buttonId").style.display="block";
        }
        window.setTimeout(appearDiv, 6000);

</script>
</body>
</html>