<!DOCTYPE html>
<html>
<head>
    <title>Tidal-Wave Testing For Checkbox</title>
    <style>

    </style>
</head>
<body>

<h2 id="h2_title" name="title">Tidal-Wave Test Checkbox</h2>
<p>The checkbox will be checked when it is clicked</p>

<input class="test_checkbox_class" id="test_checkbox_id" name="test_checkbox" type="checkbox">Checkbox</input>

<p>A checked checkbox</p>
<input class="test_checkbox_class" id="checked_checkbox" name="test_checkbox" type="checkbox" checked data-modal-target>Checkbox 2</input>
<script>

</script>
</body>
</html>