<!DOCTYPE html>
<html lang="en">
<head>
    <title>page with multiple select</title>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Page with multiple select</h1>

<div class="container">
    <div class="container">
        <div class="container" id="domain-container">
            <h2>Favorite characters</h2>
            <div class="container">
                <select id="character" multiple="multiple">
                    <option value="master">Мастер</option>
                    <option value="margarita">Маргарита</option>
                    <option value="cat">Кот "Бегемот"</option>
                    <option value="woland">Theodor Woland</option>
                </select>
            </div>
        </div>
    </div>
</div>
</body>
</html>
