<!DOCTYPE html>
<html>
<head>
    <title>Sidebar Frame</title>
    <style>
    body {
      margin: 0;
      padding: 10px;
      background-color: #f1f1f1;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: #333;
    }

    </style>
</head>
<body>
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Contact</a></li>
</ul>
</body>
</html>
