<!DOCTYPE html>
<html>
<head>
    <title>Watercare Testing For Button</title>
    <style>
    </style>
</head>
<body>
<div id="testid1">
    <h2>First Paragraph</h2>
    <div id="testid2">
        <p>Hello</p>
        <div id="testid3" style="color:blue">
            <p id="value1">Tester</p>
            <p id="value2">Of</p>
            <p id="value3">Automation</p>
        </div>
        <div id="testid4" style="color:red">
            <p>QA</p>
        </div>
        <div id="testid5" style="color:blue">
            <p value="Automation"></p>
            <p value="Tester"></p>
        </div>
    </div>
    <div><p class="test">How</p></div>
    <div><p class="test">Are</p></div>
    <div><p class="test">You?</p></div>

    <div><p class="display_test" name="display_test" style="display:none" title="hidden" hidden>Hidden</p></div>
    <div><p class="display_test" name="display_test" title="displayed">Displayed</p></div>
</div>
<script>
</script>
</body>
</html>