<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Watercare Testing For Button</title>
    <style>
        #invisibleElement{
        visibility:hidden;
        }




    </style>
</head>
<body>
<div aria-readonly="false" id="testid1">
    <h2 id="headerid">Header</h2>
    <div><p id="visibleElement">There is a hidden element in this html</p></div>
    <div><p id="secondVisibleElement">This is the second visible element</p></div>
    <div><p id="invisibleElement">Hello</p></div>
    <button class="test_button_class" disabled id="test_button_id" name="test_button" onclick="changeValue()"
            type="button" value="Disabled Button">DisabledButton
    </button>
</div>
<script>
      function changeValue(){
        document.getElementById("test_button_id").innerHTML="Button Clicked";
        }



</script>
</body>
</html>