<!DOCTYPE html>
<html>
<head>
    <title>Watercare Testing For Text Types</title>
    <style>
    </style>
</head>
<body>
<div id="testid1">
    <h2>First Paragraph</h2>
    <div id="testid2">
        <p id="pOne">Text Value</p>
        <button id="pTwo" value="Click Me"></button>
        <p id="pThree" onclick="myFunction()">Click me to change my HTML content (innerHTML).</p>
    </div>
</div>
<script>
   function myFunction() {
     document.getElementById("pThree").innerHTML = "<h3></h3>";
   }



</script>
</body>
</html>